*.o
lab1_tester
*.swp
*.tgz
*.log
*.d
yfs_client
test-lab-3-g
extent_server
foo.txt.yfs*
tmprand
lock_demo
lock_server
lock_tester
test-lab-4-a
test-lab-4-b
*.d
lab1_tester
*.log
foo.txt.yfs*
tmprand
tset-lab-7
yfs1
yfs2
